<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="lab.drys.postengin">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>

    <application android:name=".PostEngin"
	             android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme"
                 android:largeHeap="true">
        <activity
            android:name="lab.drys.postengin.MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/PostTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:name=".dj.DJActivity"
	              android:screenOrientation="portrait"
	              android:theme="@style/ToolbarPostTheme"
	              android:label="DJ">
	    </activity>

	    <activity android:name=".discotheque.Discotheque"
	              android:screenOrientation="portrait"
	              android:theme="@style/ToolbarPostTheme"
	              android:label="Discotheque">
	    </activity>

        <activity android:name=".vinylcamera.VinylCamera"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarPostTheme"
            android:label="VinylCamera">
        </activity>

        <service android:name=".spieler.SpielerService"></service>

	    <receiver android:name=".spieler.NoisyAudioReceiver">
		    <intent-filter>
			    <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
		    </intent-filter>
	    </receiver>
    </application>

</manifest>
